<div class="container">
  <div class="card bg-dark text-white">
    <img src="img/desarrollo-web.png" class="card-img" alt="">
    <div class="card-img-overlay">
      <h5 class="card-title">Experiencia en desarrollo WEB</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
<hr>
  <div class="card bg-dark text-white">
    <img src="img/app-movil.png" class="card-img" alt="">
    <div class="card-img-overlay">
      <h5 class="card-title">Experiencia en desarrollo Movil</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
  <hr>
  <div class="card bg-dark text-white">
    <img src="img/scrum.png" class="card-img" alt="">
    <div class="card-img-overlay">
      <h5 class="card-title">Experiencia trabajando bajo metodologias agiles</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>
</div>