<div class="container" ng-controller ="mainController">
    <div class="row">
        <div class="col order-first card">
            <img src="img/desarrollo-web-image.jpg" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            
        </div>
        <div class="col card">
            <img src="img/desarrollo-movil.png" class="card-img-top" alt="">
            <div class="card-body">
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             </div>
        </div>
        <div class="col order-last card">
            <img src="img/js-logo.png" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
<wb-contactame></wb-contactame>
</div>