

.planet-view {
  padding: 10px;
}

.planet-view.ng-animate {
  transition: all ease 0.5s;
  position: absolute;
}

.planet-view.ng-enter {
  left: 200px;
  opacity: 0;
}

.planet-view.ng-leave,
.planet-view.ng-enter.ng-enter-active {
  left: 1;
  opacity: 1;
}

.planet-view.ng-leave.ng-leave-active {
  left: -300px;
  opacity: 0;
}